streamlit
pandas

# llama-cpp-python

requests
beautifulsoup4
feedparser
selenium
webdriver-manager

chromadb>=0.4.0
sentence-transformers

lxml
readability-lxml

python-dotenv
yfinance

# FinanceDataReader
finance-datareader
tabulate